.box {
    background-color: red;
}
.box1{
    background-color: teal;
    margin: 10px;
    padding: 20px;
    border: solid black 10px;
    /* height: 50px;  */
    /* width: 100px; */
    box-sizing: border-box;
}
.box2{
    background-color: blue;
    margin: 10px;
    padding: 20px;
    border: solid black 10px;
    /* height: 50px;  */
    /* width: 100px; */
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}